<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kim.nzxy.auth.models.system.router.RouterMapper">
    <resultMap id="BaseResultMap" type="kim.nzxy.auth.models.system.router.Router">
        <!--@mbg.generated-->
        <!--@Table router-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="redirect" jdbcType="VARCHAR" property="redirect"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="always_show" jdbcType="VARBINARY" property="alwaysShow"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `path`, component, redirect, `name`, always_show, icon, title, parent_id, `order`,
        description
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="kim.nzxy.auth.models.system.router.Router"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into router (`path`, component, redirect,
        `name`, always_show, icon,
        title, parent_id, `order`,
        description)
        values (#{path,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR}, #{redirect,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR}, #{alwaysShow,jdbcType=VARBINARY}, #{icon,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{order,jdbcType=INTEGER},
        #{description,jdbcType=VARCHAR})
    </insert>
    <select id="findRouterByUserId" resultType="kim.nzxy.auth.models.system.auth.RouterInfo">
        select distinct r.*
        from user u
        left join user_role ur on u.id = ur.user
        left join role_router rr on ur.role = rr.role
        left join router r on rr.router = r.id
        where u.id = #{id,jdbcType=INTEGER}
        and r.id &gt; 0
        <!--如果是目录,则省略判断-->
        or r.always_show = true
        order by `order`
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-12-26-->
    <select id="findAll" resultType="kim.nzxy.auth.models.system.auth.RouterInfo">
        select
        <include refid="Base_Column_List"/>
        from router
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-12-26-->
    <update id="updateById">
        update router
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=INTEGER},
            </if>
            <if test="updated.path != null and updated.path != ''">
                path = #{updated.path,jdbcType=VARCHAR},
            </if>
            <if test="updated.component != null and updated.component != ''">
                component = #{updated.component,jdbcType=VARCHAR},
            </if>
            <if test="updated.redirect != null and updated.redirect != ''">
                redirect = #{updated.redirect,jdbcType=VARCHAR},
            </if>
            <if test="updated.name != null and updated.name != ''">
                name = #{updated.name,jdbcType=VARCHAR},
            </if>
            <if test="updated.alwaysShow != null">
                always_show = #{updated.alwaysShow,jdbcType=VARBINARY},
            </if>
            <if test="updated.icon != null and updated.icon != ''">
                icon = #{updated.icon,jdbcType=VARCHAR},
            </if>
            <if test="updated.title != null and updated.title != ''">
                title = #{updated.title,jdbcType=VARCHAR},
            </if>
            <if test="updated.parentId != null">
                parent_id = #{updated.parentId,jdbcType=INTEGER},
            </if>
            <if test="updated.order != null">
                `order` = #{updated.order,jdbcType=INTEGER},
            </if>
            <if test="updated.description != null and updated.description != ''">
                description = #{updated.description,jdbcType=VARCHAR},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-12-31-->
    <select id="findAllOrderByOrder" resultType="kim.nzxy.auth.models.system.auth.RouterInfo">
        select
        <include refid="Base_Column_List"/>
        from router order by `order`
    </select>

</mapper>
